/* Display */
.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

/* Flexbox */
.flex {
	display: flex;
}

.align-items-center {
	align-items: center;
}

.space-between {
	justify-content: space-between;
}

.gap {
	gap: var(--gap, 1rem);
}

.gap-4 {
	gap: var(--space-4);
}

/* Grid */
.grid {
	display: grid;
}

.place-items-center {
	place-items: center;
}
