.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.z-index-1 {
  z-index: var(--z-index-1);
}

.z-index-2 {
  z-index: var(--z-index-2);
}

.z-index-3 {
  z-index: var(--z-index-3);
}

.z-index-4 {
  z-index: var(--z-index-4);
}

.z-index-5 {
  z-index: var(--z-index-5);
}

.z-index-max {
  z-index: var(--z-index-max);
}
