.mb-4 {
  margin-bottom: var(--space-4);
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.py {
  padding-top: var(--py, var(--space-16)) !important;
  padding-bottom: var(--py, var(--space-16)) !important;
}
