.text-m {
  font-family: var(--ff-sans);
  font-size: var(--fs-m);
  line-height: var(--line-height-m);
  letter-spacing: var(--letter-spacing-loose);
  font-weight: var(--fw-regular);
}

.capitalize {
  text-transform: capitalize;
}
