@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes pattern-fade {
	0% {
		fill-opacity: 0;
	}
	50% {
		fill-opacity: 0.25;
	}
	100% {
		fill-opacity: 0;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
