@import './reset.pcss';
@import './tokens.pcss';
@import './theme.pcss';
@import './animation.pcss';
@import './utility/index.pcss';
@import './components/index.pcss';

:root {
	@extend .theme-dark;
}

body {
	@extend .text-m;
	background-color: var(--color-background);
	color: var(--color-foreground);
	position: relative;
}
